/* Estilos generales */
.contacto {
    text-align: center;
    color: #ffffff;
    font-family: monospace;
    font-weight: 400;
    font-size: 2.1875rem;
    background-color: #000;
    
    padding: 2rem 1rem;
    text-align: center;
}

/* Título del formulario */
.contacto__titulo {
    margin-bottom: 1rem;
}

/* Formulario de contacto */
.formulario-contacto {
    max-width: 300px; /* Reducción del ancho del formulario */
    margin: 0 auto;
}

.formulario-contacto label {
    display: block;
    margin-bottom: 0.5rem;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .formulario-contacto {
        max-width: 100%;
    }

    .contacto {
        padding: 2rem 0;
    }
}
