/* Estilos generales */
.contacto {
    text-align: center;
    color: #ffffff;
    font-family: monospace;
    font-weight: 400;
    font-size: 2.1875rem;
    background: #393E46;
    padding: 2rem 1rem;
}

/* Título del formulario */
.contacto__titulo {
    margin-bottom: 1rem;
}

/* Formulario de contacto */
.formulario-contacto {
    max-width: 500px; /* Aumenta el ancho del formulario para evitar amontonamiento */
    margin: 0 auto;
    padding: 1rem; /* Agrega un margen interior para espacio alrededor de los elementos */
}

.formulario-contacto label {
    display: block;
    margin-bottom: 0.5rem;
}

.formulario-contacto input,
.formulario-contacto textarea {
    font-size: 1rem;
    width: 300px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .formulario-contacto {
        max-width: 100%;
    }

    .contacto {
        padding: 2rem 0;
    }

    .formulario-contacto input,
    .formulario-contacto textarea {
        margin-bottom: 1rem; /* Ajusta el margen inferior en pantallas pequeñas */
    }
}
