/* Estilos para el título en el pie de página */
.rodapie__titulo {
    display: flex;
    color: #8c8888;
    font-weight: 400;
    font-size: 1.25rem;
    align-items: center;
    padding: 1.5625rem;
}

/* Estilos para la lista en el pie de página */
.rodapie__lista {
    display: flex;
    list-style: none; /* Eliminar las viñetas en la lista */
    padding: 0; /* Eliminar el relleno predeterminado de la lista */
}

/* Estilos para los elementos de la lista en el pie de página */
.rodapie__item {
    margin-right: 1rem; /* Espacio entre los elementos de la lista */
}

/* Estilos para el icono en el pie de página */
.rodapie__icon {
    margin-right: 1.25rem;
}

/* Estilos para la descripción en el pie de página */
.rodapie__descripcion {
    display: flex;
    font-size: 2rem;
    margin-left: 2rem;
    color: #8C8888;
    align-items: center;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .rodapie__titulo,
    .rodapie__lista {
        flex-direction: column; /* Cambio a columna en pantallas pequeñas */
        align-items: center; /* Centrar horizontalmente el contenido en pantallas pequeñas */
    }

    .rodapie__item {
        margin-right: 0; /* Eliminar el margen entre elementos en pantallas pequeñas */
        margin-bottom: 0.5rem; /* Agregar un margen inferior entre elementos en columna */
    }

    .rodapie__descripcion {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 1rem;
    }
    
    .rodapie__icon {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}
