.recetas {
    background: #8dd1ff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem; /* Espacio entre los elementos */
    padding: 5rem 1rem 0; /* Relleno general ajustado */
}

/* Media Query para pantallas medianas (768px) */
@media screen and (min-width: 768px) {
    .recetas {
        padding-left: 2.5rem; /* Relleno ajustado para pantallas medianas */
    }
}

/* Media Query para pantallas grandes (992px) */
@media screen and (min-width: 992px) {
    .recetas {
        padding-left: 5rem; /* Relleno ajustado para pantallas grandes */
    }
}
