.rodapie {
    background: #1B262C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 2rem; /* A単adido relleno vertical y unificado el relleno horizontal */
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .rodapie {
        flex-direction: column; /* Cambio a columna en pantallas peque単as */
        text-align: center; /* Centrar el contenido en pantallas peque単as */
        padding: 2rem; /* Relleno reducido en pantallas peque単as */
    }
}
