/* Estilos para el título en la sección "Quiénes somos" */
.hobbies__titulo {
    text-align: center;
    color: #000000;
    font-family: monospace;
    font-weight: 400;
    font-size: 3.1875rem;
    margin-bottom: 1rem;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .hobbies__titulo {
        font-size: 2.5rem; /* Reducción del tamaño de fuente en pantallas pequeñas */
        margin-bottom: 0.5rem; /* Reducción del margen inferior en pantallas pequeñas */
    }
}