.sobre__titulo {
    color: #ffffff;
    font-family: Pacifico, cursive;
    font-weight: 400;
    font-size: 2rem; /* Valor predeterminado */
}

@media screen and (min-width: 768px) {
    .sobre__titulo {
        font-size: 3.1875rem; /* Tamaño de fuente ajustado para pantallas más grandes */
    }
}
