.foto__imagen {
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.foto__imagen--hernan {
    background-image: url('../../img/AnyConv.com__WhatsApp_Image_2023-08-20_at_16_00_20-transformed.webp');
}
