.foto__imagen {
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.foto__imagen--hernan {
    background-image: url('../../img/fotoperfil.lnk');
}
