.foto__imagen {
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.foto__imagen--hernan {
    background-image: url('../../img/fotoWhatsApp\ Image\ 2023-08-21\ at\ 12.05.26.jpeg');
}
